<h1>My Quotes</h1>
<hr>

<div class="container">
  <div *ngFor='let quote of quotes;let i = index'>
    <li appStrikethrough>{{quote.name}}</li>
    <button type="button" class="btn btn-outline-primary" (click)='toogleDetails(i)'>Show the Quote</button>

    <div *ngIf="quote.showDescription">
      <app-quote-details [quote]='quote' (addQuote)="addNewQuote ($event,i)"></app-quote-details>
    </div>
  </div>
  <p *ngIf='quotes.length > 5'>You have too many quotes</p>
</div>
<hr>
<br>

<div class="container">
  <div class="row">
    <app-quote-form></app-quote-form>
  </div>
</div>
