<p>
  quote works!
</p>

<h1>My Quotes</h1>
<hr>

<div class="container">
    <div class="well" *ngFor='let quote of quotes;let i = index'>
      <li appStrikethrough>{{quote.name}}</li>
      <button class="btn btn-success" (click)='toogleDetails(i)'>Show the Quote</button>

      <div class="jumbtron" *ngIf= "quote.showDescription">
        <app-quote-details [quote]='quote' (showQuote)='deleteGoal($event,i)'></app-quote-details>
      </div>
    </div>
    <p *ngIf='quotes.length > 5'>You have too many quotes</p>
</div>

<app-quote-details></app-quote-details>
