<div class="container-fluid">
  <form class="form-horizontal" (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
      <div class="col-sm-5">

        <textarea class="form-control" style ="width:300px;" id="description" rows="5" [(ngModel)]="newQuote.description" name="description"
          #description="ngModel" required></textarea>
          Display {{newQuote.description}}
        <label class="control-label col-sm-1.2" for="description">Quote:</label>

        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <p>Add a quote</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5">

        <input type="text" class="form-control" style ="width:300px;" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel"
          required>
          <!--Testing  to see if we get data-->
                Display {{newQuote.author}}
        <label class="control-label col-sm-1.2" for="author">Author Name:</label>

        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p>Add Author's Name</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5">
        <input type="text" class="form-control" style ="width:300px;" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel"
          required>
          Display {{newQuote.name}}
        <label class="control-label col-sm-1.2" for="name">Your Name:</label>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Your Name is Required please</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3.5 col-sm-10">
        <button type="button" class="btn btn-primary">Add quote</button>
      </div>
    </div>
  </form>
</div>
